*
{
    color: white;
    background-color: #0E1F3E;
}

body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header
{
    display: flex;
    flex-direction: row;
}

nav
{
    justify-content: flex-end;
    /* align-items: flex-end; */
    /* flex: 1; */
    margin-left: auto;
}

main
{
    display: flex;
    /* flex-flow: row wrap; */
    /* flex: 1 100%; */
    min-height: 100%;
}

#project-container
{
    flex-wrap: wrap;
    order: 2;
    width: 80%;
    margin-left: 10px;
}

#other-projects-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 2 1 200px;
    width: 80%;
}
/*
.other-projects
{
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 400px;
    justify-content: center;
}
*/
.other-projects-img
{
    width: 500px;
    height: 400px;
    object-fit: cover;
}

aside
{
    margin-right: 10px;
    order: 1;
    width: 250px;
}

aside img
{
    width: 200px;
    height: auto;
    object-fit: contain;
}

#first-project-img
{
    width: auto;
    height: 700px;
}

#project-container p
{
    display: none;
}

.other-projects:hover
{
    opacity: 0.3;
}